.knight-card {
	.v-card {
		width: 320px !important;
		&-subtitle {
			max-width: 230px;
			text-overflow: unset;
			white-space: wrap;
		}
		&-text {
			.knight-attribute {
				text-transform: capitalize;
			}
		}
	}
}
