.knight-card {
	.v-card {
		&-subtitle {
			max-width: 230px;
			text-overflow: unset;
			white-space: wrap;
		}
		&-text {
			padding: 2px 1px 0 !important;
			table {
				--v-table-row-height: 44px;
			}
		}
	}
}
