.knight-card {
	.v-card {
		width: 320px;
		border-radius: 16px;
		@media (max-width: 695px) {
			width: 100vw;
			max-width: 100%;
		}
		&-item {
			grid-template-columns: unset;
		}
		&-subtitle {
			max-width: 230px;
			text-overflow: unset;
			white-space: wrap;
		}
		&-text {
			padding: 2px 1px 0 !important;
			table {
				--v-table-row-height: 44px;
			}
		}
	}
}
