.header {
	padding: 0 24px;
	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1279px) {
			display: block;
			text-align: center;
			.logo {
				a {
					justify-content: center;
				}
			}
			.filter-by-heroes {
				margin-top: 24px;
			}
		}
		.logo {
			a {
				display: flex;
				font-size: 5em;
				text-align: center;
				line-height: 1;
				text-transform: uppercase;
			}
		}
	}
}
